#index_change #nav1 {
    width: 100%;
    background: #ffffff;
    padding-bottom: .2667rem;
    position: fixed;
    top: 1.1733rem;
}

    #index_change #nav1 a {
        display: block;
        height: 1rem;
        padding-top: .2rem;
        font-size: .4rem;
        text-align: center;
        float: left;
        cursor: pointer;
    }

        #index_change #nav1 a.index_on {
            color: #366cb3;
            width: 50%;
        }

.load_more {
    margin-top: 15px;
    height: 40px;
    text-align: center;
    font-size: 15px;
}