<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>放弃的任务</title>
    <link rel="stylesheet" type="text/css" href="/Task/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Task/css/main.css" />
    <link rel="stylesheet" href="/Task/css/style.css">
    <script type="text/javascript" charset="utf-8" src="/Task/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Task/js/index.js"></script>
</head>
<body class="grey">
    <div class="top">
        <div class="wrap-white">
            <i class="itemslist"><a href="#"></a></i>
            <div class="ptitle-white">放弃的任务</div>
            <i class="searchi"><a href="/home/search"></a></i>
        </div>
    </div>
    <div class="itemslist-bg">
        <div class="itemslist-panel">
            <p id="index_page"><a href="/home/index">首页</a></p>
            <p id="index_mytask"><a href="/usertask/going"> 进行中的任务</a></p>
            <p id="index_mytask1"><a href="/usertask/complete"> 已完成的任务</a></p>
            <p id="index_mytask2"><a href="/usertask/giveup"> 放弃的任务</a></p>
            <p id="index_mytask3"><a href="/user/bindinfo"> 我的钱包</a></p>
            <p id="index_user"><a href="/user/center">个人中心</a> </p>
        </div>
    </div>
    <!--任务-->
    <div id="index_change">
        <div id="index_contentBox">
            <div class="index_box active">
                <!--进行中的任务-->
                <div class="index_box_active" v-for="task in taskgiveups">
                    <a v-bind:href="'/home/detail?id='+ task.id">
                        <div class="index_box-left">
                            <div><img src="/Task/images/taskimg.png" /></div>
                            <div class="ovhide2" v-html="task.title"></div>
                        </div>
                    </a>
                    <div class="box-star"><img v-bind:id="'taskimgstar'+ task.id" v-on:click="taskcollect(task.id,1)" v-bind:src="task.isCollect==false?'/Task/images/star.png':'/Task/images/orstar.png'" alt="" /></div>
                </div>
                <div style="text-align:center;font-size:15px" id="loadmore" v-on:click="loadmore">加载更多</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/Task/js/flexible.js"></script>
    <script src="~/assets/layer/layer.js"></script>
    <script src="~/Task/js/jquery.min.js"></script>
    <script src="~/js/vue.min2.5.16.js"></script>
    <script src="~/js/vue-resource.min1.5.0.js"></script>
    <script>
        var vue = new Vue({
            el: "#index_change",
            data: {
                taskgiveups: [],
                task: {
                    pageIndex: 1,
                    pageCount: 1
                }
            },
            methods: {
                taskcollect: function (id, flag) {
                    var that = this;
                    var taskimgstar = $("#taskimgstar" + id);
                    if (flag == 1) {
                        if (taskimgstar.attr("src") == '/Task/images/orstar.png') {
                            taskimgstar.attr("src", "/Task/images/star.png");
                            this.$http.post('/collect/set', { taskId: id, isCollect: false }, { emulateJSON: true }).then(function (result) {
                            });
                        }
                        else {
                            taskimgstar.attr("src", "/Task/images/orstar.png");
                            this.$http.post('/collect/set', { taskId: id, isCollect: true }, { emulateJSON: true }).then(function (result) {
                            });
                        }
                    }
                },
                loadmore: function () {
                    if (this.task.pageIndex <= this.task.pageCount) {
                        var that = this;
                        this.$http.post('/usertask/giveup', { pageIndex: this.task.pageIndex++ }, { emulateJSON: true }).then(function (result) {
                            that.task.pageCount = result.data.data.pageCount;
                            if (that.task.pageCount <= 0) {
                                $("#loadmore").text("没有更多了");
                            }
                            else {
                                $.each(result.data.data.tasks, function (i, task) {
                                    that.taskgiveups.push(task);
                                });
                            }
                        });
                    }
                    else {
                        $("#loadmore").text("没有更多了");
                    }
                }
            },
            mounted: function () {
                this.$http.post('/usertask/giveup', { pageIndex: this.task.pageIndex++ }, { emulateJSON: true }).then(function (result) {
                    this.task.pageCount = result.data.data.pageCount;
                    if (this.task.pageCount < this.task.pageIndex) {
                        $("#loadmore").text("没有更多了");
                    }
                    this.taskgiveups = result.data.data.tasks;
                });

            }
        });
    </script>
</body>
</html>